#!/usr/bin/env bash

mkcd() {
  mkdir -p $1 && cd $1
}

config() {
  local dir=$(
    find $XDG_CONFIG_HOME -maxdepth 1 -mindepth 1 |
    fzf
  )
  [ -n "$dir" ] && cd $dir; nvim .
}

2bwmupdate() {
  local dir=$XDG_CONFIG_HOME/2bwm
  [ -d "$dir" ] &&
    make -C "$dir" &&
    sudo make -C "$dir" clean install &&
    sudo pkill Xorg
}
