#!/usr/bin/env bash

mkcd() {
  mkdir -p $1 && cd $1
}

configs() {
  local dir=$(
    find $XDG_CONFIG_HOME -maxdepth 1 -mindepth 1 |
    fzf
  )
  [ -n "$dir" ] && cd $dir; nvim .
}

2bwm_reload() {
  local DIR=$XDG_CONFIG_HOME/2bwm
  [ -d "$DIR" ] &&
    make -C "$DIR" &&
    sudo make -C "$DIR" clean install &&
    sudo pkill Xorg
}
