[user]
  email = ruiz.6789@gmail.com
  name = David Ruiz
[credential]
  helper = store
[alias]
  a = add -p
  l = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
  ss = status --short
  cc = shortlog -sn --all
[init]
  defaultBranch = main
